In [1]:
import warnings
warnings.simplefilter(action='ignore')

import pandas as pd

In [2]:
df_train =  pd.read_csv("./dataset/raw_train.csv")

In [3]:
df_train.head()

,context,label,year,test_type,question_number,question,answers
0,Speculations about the meaning and purpose of ...,True,2020,짝수형,29,"다음 글의 밑줄 친 부분 중, 어법상 틀린 것은?",1
1,"Such primitive societies, [as] Steven Mithen ...",True,2020,짝수형,29,"다음 글의 밑줄 친 부분 중, 어법상 틀린 것은?",2
2,The dual expressions of this tendency are anth...,True,2020,짝수형,29,"다음 글의 밑줄 친 부분 중, 어법상 틀린 것은?",3
3,Thus the natural world is conceptualized in te...,True,2020,짝수형,29,"다음 글의 밑줄 친 부분 중, 어법상 틀린 것은?",0
4,"When considered in this light, the visual preo...",False,2020,짝수형,29,"다음 글의 밑줄 친 부분 중, 어법상 틀린 것은?",4

In [4]:
df_train = df_train.loc[:, ['context', 'label']]

In [5]:
def clean_bracket(string):
    string = string.replace("[", "")
    string = string.replace("]", "")
    return string

In [6]:
df_train["context"] = df_train["context"].map(clean_bracket)
df_train["label"] = df_train["label"].map(int)

In [7]:
df_train.head()

                                             context  label
0  Speculations about the meaning and purpose of ...      1
1  Such primitive societies,  as Steven Mithen em...      1
2  The dual expressions of this tendency are anth...      1
3  Thus the natural world is conceptualized in te...      1
4  When considered in this light, the visual preo...      0

In [8]:
df_train.to_csv("./dataset/processed_train.tsv", sep="\t", index=False)

In [9]:
trainset = pd.read_csv('./dataset/processed_train.tsv', delimiter='\t')
trainset.head()

                                             context  label
0  Speculations about the meaning and purpose of ...      1
1  Such primitive societies,  as Steven Mithen em...      1
2  The dual expressions of this tendency are anth...      1
3  Thus the natural world is conceptualized in te...      1
4  When considered in this light, the visual preo...      0